<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyong.meeting.dao.EmployeeDao">
    <select id="loadEmpByUserName" resultType="com.zhangyong.meeting.bean.Employee">
        select * from employee where username=#{username};
    </select>

    <insert id="doReg" parameterType="com.zhangyong.meeting.bean.Employee">
        insert into employee(employeename,username,phone,email,status,departmentid,password,role)
             values (#{employeeName},#{username},#{phone},#{email},#{status},#{departmentId},#{password},#{role})
    </insert>
    <select id="getAllEmpsStatus" resultType="com.zhangyong.meeting.bean.Employee">
        select * from employee where status=#{status};
    </select>

    <update id="updatestatus">
        update employee set status=#{status} where employeeid=#{employeeId}
    </update>
</mapper>